html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.header a {
  color: whitesmoke !important;
  text-decoration: none;
}

.filtro{
  width: 700px !important;
  margin-left: 20% !important;
}

.error{
  color: red;
}

.white{color: whitesmoke;}
.verde {color: green;}
* {
  box-sizing: border-box;
}

.titleheader{
  font-size: 30px;
  font-weight:bold;
  color: whitesmoke;
}
.carrossel{
  width: 800px;
}

.links {
  text-decoration: none;
  color: dark;
}
